
input {
  padding: 30px;
  font-size: 14px;
  height: 50px;
}

input[name=desc] {
  padding-bottom: 70px;
  padding-top: 10px;
  font-size: 14px;
  height: 50px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  font-size: 12px;
  transition: 0.2s ease all;
}

.form-title {
  text-align: center;
  font-style: bold;
  padding: 10px;
}

.start-time-dropdown-button {
  padding: 30px;
  font-size: 14px;
  height: 30px;
  width: 100%;
  background-color: black;
}

.menu {
  background-color: black;
}

.menu-button {
  background-color: black;
}

.submit-button {
  background-color: black;
  width: 100%;
}
